[submodule "modules/terraform-azure-keyvault"]
	path = modules/terraform-azure-keyvault
	url = git@github.com:mikamakusa/terraform-azure-keyvault.git
[submodule "modules/terraform-azure-storage"]
	path = modules/terraform-azure-storage
	url = git@github.com:mikamakusa/terraform-azure-storage.git
